<li class="nav-item"><%= link_to 'マイページ', customer_path, class: "admin m-3 btn btn-outline-primary" %></li>
<li class="nav-item"><%= link_to '商品一覧', items_path, class: "admin m-3 btn btn-outline-primary" %></li>
<li class="nav-item"><%= link_to 'カート', cart_items_path, class: "admin m-3 btn btn-outline-primary" %></li>
<li class="nav-item"><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "admin m-3 btn btn-outline-danger" %></li>
