<div class="container">
  <div class="row my-5">
    <div class="col">
      <h3 class="my-bg-lggray">配送先編集</h3>
    </div>
  </div>

  <%= render "form", address: @address, submit_text: @submit_text %>
</div>
