/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

h3.my-bg-lggray{
  background-color: #dee2e6;
  display: inline-block;
}
my-bg-lglray{
  background-color: #dee2e6;
}

.orders-table {
 padding: 10px;
}

.title{
  width: 20%;
  font-size: 1.2rem;

}

a.order-customer,
.item-name>a{
  text-decoration: revert;
}

.order-show{
  list-style: none;

}

.order-show > li{
  display: flex;
}

.list-group.order-show > li{
  margin: 10px 0;
}

.list-group.order-show > li div,
.list-group.order-show > li a{
  vertical-align: middle;
  font-size: 1.2rem;
}


.form-group.order_status{
  display: flex;
}

.form-group.order_item_status{
  display: flex;
}

tr.order_item_tr>td{
  vertical-align: middle;
}

.form-group.order_item_status,
.form-group.order_status{
  margin-bottom: 0;
}

.cost-list-group{
  list-style: none;
  font-size: 1.2rem;
}

tr:last-child{
  border-bottom: 1px solid #dee2e6;

}
